<div class="about-holibirthday">
	<div class="about-image">
		<img src="./content/stockphotos/holibirthday-hotdog.jpg" />
		<div class="about-image-claim-button">
			<a href="#/claimBirthday">
				<div class="feed-button">
					Claim your Holibirthday!
				</div>
			</a>
		</div>
	</div>
	<a href="#/about">
		<div class="about-info">
			<div class="widget">
				<div class="title">
					About Holibirthday
				</div>
				<div class="feed-underline"></div>
				<div class="feed-text">
					Holibirthday.com celebrates birthdays upstaged by holidays, on bad days or just forgotten.
				</div>
				<div class="feed-text">
					If your birthday falls anywhere in late December, for instance, if you get a present at all, it's going to be red and green with stupid bells, right? Hanukah? A dreidel. New Years? Warm champagne & cold pizza!
				</div>
				<div class="feed-button left">
					Read More
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</a>
	<div class="clear"></div>
</div>
