<div class="register">
	<div class="widget">
		<div class="title">
			Holibirthday
		</div>
		<div class="feed-underline"></div>
		<div class="feed-text">
			Holibirthday.com celebrates birthdays upstaged by holidays, on bad days or just forgotten. If your birthday falls anywhere in late December, for instance, if you get a present at all, it's going to be red and green with stupid bells, right? Hanukah? A dreidel. New Years? Warm champagne & cold pizza!
		</div>
		<div class="feed-text">
			Born on Feb 29th, leap day? You've been <i>really</i> short-changed! Your deserve an <i>annual</i> birthday!
		</div>
		<div class="feed-text">
			How about a birthday of a friend or family member that you <i>totally forget</i> every year?
		</div>
		<div class="feed-text">
			Holibirthday is your catharsis! Pick a new date and we'll all celebrate!
		</div>
	</div>
	<div class="widget-separator"><div></div></div>
	<div class="widget">
		<div class="title">
			Where did Holibirthday come from?
		</div>
		<div class="feed-underline"></div>
		<div class="feed-text">
			I created Holibirthday in 2006 as catharsis for my wife, born on Dec 31st. She hated the fact that her birthday was completely upstaged and all the places to celebrate it were booked up.
		</div>
		<div class="feed-text">
			I made a T-shirt that captured her angst:
		</div>
		<div class="feed-text center">
			<img src="./content/shirt.png" />
		</div>
		<div class="feed-text">
			I then started thinking of all those who never really get to celebrate their birthdays because of bad days, tragedies, etc. like December 7th, November 22nd or September 11th. How about the same day your dog died?
		</div>
	</div>
	<div class="widget-separator"><div></div></div>
	<div class="widget">
		<div class="title">
			Holibirthday celebrates you - not a tragic event that you weren't part of
		</div>
		<div class="feed-underline"></div>
		<div class="feed-text">
			Holibirthday, including a new birth date to pick if you choose, could be your best present ever!
		</div>
		<div class="feed-text">
			Forget Sweetest Day, Grandparents Day, and all that made-up stuff. This will soon be a philanthropic generator, raising funds and celebrating my gift to you of your own Holibirthday, dedicated to your birthday, regardless of its previous upstaged date!
		</div>
		<div class="feed-text">
			So, got a friend or relative who's a Holibirther? Tell them about Holibirthday!  They'll likely thank you, saying how they always wished for this day, their day in the sun. 
		</div>
		<div class="feed-text">
			Jim Zirbel, Founder
		</div>
		<div class="feed-text">
			Holibirthday, LLC
		</div>
	</div>
	<div class="widget-separator"></div>
	<div class="widget">
		<font face="times new roman, times">
			<font face="Perpetua Titling MT" size="5">New Years Day </font>
			<font face="Poornut" size="6">&nbsp;&nbsp; <font color="#996666">Groundhog Day&nbsp;</font>&nbsp;
			</font><b><font color="#FF00FF" face="Curlz MT" size="6">Valentine's Day</font></b><font face="Poornut" size="6">&nbsp;&nbsp;<font color="#0000FF">&nbsp;</font></font><font face="Snap ITC" size="6" color="#0000FF">Leap 
				Day</font><font face="Poornut" size="6"><font color="#00FF00">&nbsp; </font>&nbsp;</font><font color="#00FF00" face="ReBucked" size="5">St 
				Patty's Day</font><font face="Poornut" size="6">&nbsp;</font>
			<b>
				<font size="6" color="#00FFFF" face="Niagara Solid">President's Day</font></b><font size="6" color="#00FFFF" face="Old English Text MT">&nbsp;&nbsp;&nbsp;</font><font color="#CC00FF" size="5" face="Jokerman">April 
					FOols Day</font><font color="#CC00FF" face="Poornut" size="6">&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#FF0000" face="Impact" size="6">Tax 
					Day</font><font face="Poornut" size="6">&nbsp;&nbsp;&nbsp;</font><font face="Matura MT Script Capitals" size="6">Good 
					Friday </font><font face="Poornut" size="6">&nbsp; <font color="#00FF00">&nbsp;</font></font><font face="Ravie" size="5" color="#00FF00">Easter 
					Day</font><font face="Poornut" size="6">&nbsp;&nbsp;<font color="#00FFFF">Earth Day</font>&nbsp;&nbsp;&nbsp;
					</font>
					<font color="#FFFF00" face="Wide Latin" size="4">Cinco De Mayo</font><font face="Poornut" size="6">&nbsp;&nbsp;&nbsp;</font><b><font color="#800080" face="Gigi" size="6">Mother's 
						Day</font></b><font face="Poornut" size="6">&nbsp;&nbsp;&nbsp;</font><font color="#0000FF" face="Patriot" size="6">Flag 
						Day</font><font face="Poornut" size="6">&nbsp;&nbsp;&nbsp; Fathers Day&nbsp;&nbsp;&nbsp;
						</font><font face="Patriot" size="5"><font color="#0000FF">Indep</font><font color="#FFFFFF">end</font>ence<font color="#FF0000">Day</font></font><font face="Poornut" size="6">&nbsp;&nbsp;&nbsp;</font><font color="#CC9900"><font face="Matura MT Script Capitals" size="6">Ramadan</font><font face="Poornut" size="6">
						</font></font><font face="Poornut" size="6">&nbsp;&nbsp; </font>
						<font face="Poornut" size="6"><font color="#808000">lABOR dAY</font>&nbsp;&nbsp;
						</font><font face="Impact" size="5" color="#666666">September 11th</font><font face="Poornut" size="6"><font color="#800080">&nbsp;&nbsp;&nbsp; 
							cOLUMBUS dAY</font>&nbsp;&nbsp; <b>&nbsp;</b></font><b><font face="Chiller" color="#FF0000"><span style="font-size: xx-large">Halloween</span></font></b><font face="Poornut" size="6"><b>&nbsp;
							</b>&nbsp;</font><font face="Goudy Stout" size="4" color="#00FFFF">eLECTION dAY</font><font face="Poornut" size="6">&nbsp;&nbsp;
							</font>
							<font face="Poornut" size="6">&nbsp;<font color="#C6393D">vETERAN'S dAY </font>&nbsp;</font><font color="#FFFF00"><span style="font-family: 'Freestyle Script'; font-size: xx-large">Thanksgiving 
								Day</span></font><font face="Poornut" size="6">&nbsp;&nbsp;</font><font face="Poornut" size="7"><font color="#CC9900"><strong>H</strong></font><strong>O<font color="#FFFF00">L</font>I<font color="#FF00FF">B</font>I<font color="#00FF00">R</font>T<font color="#0000FF">H</font>D<font color="#FF0000">A</font>Y<font color="#CC00FF">!</font></strong></font><font face="Poornut" size="6">&nbsp;
								<span style="font-family: 'Perpetua Titling MT'; font-size: large; color: #808080">
									<strong>Nov 22nd </strong></span></font><b>
										<font face="Onyx" size="6" color="#808000">Haunakah</font></b><font face="Poornut" size="6">
										</font><font face="Stencil" size="6">&nbsp;<font color="#666666">dEC 7TH&nbsp; </font>
										</font>
										<font face="Poornut" size="6">&nbsp; </font>
										<font face="Old English Text MT" size="6" color="#00FF00">Christmas Eve</font><font face="Poornut" size="6">&nbsp;&nbsp;</font><font color="#FF0000"><b><font face="Lucida Handwriting" size="5">Christmas 
											Day</font></b></font><font face="Poornut" size="6">&nbsp;&nbsp; </font>
										<font face="Matisse ITC" size="6" color="#CC9900">KWANZAA</font><font face="Poornut" size="6">&nbsp;&nbsp;&nbsp;
										</font><font face="Centaur" size="6" color="#0000FF">Boxing Day</font><font face="Poornut" size="6">&nbsp;&nbsp;&nbsp;</font><font face="Kristen ITC" size="4">The
											<font color="#FFCC00">whole </font><font color="#33CC33">month</font>
											<font color="#FFCC00">of</font></font><font color="#FF0000" face="Kristen ITC" size="4"> 
												December</font><font face="Poornut" size="4"> . . .&nbsp;&nbsp; </font>
		</font>
	</div>
</div>
